DASHSCOPE_API_KEY=your_dashscope_api_key
MYSQL_PASSWD=change_me
MYSQL_DATABASE=rag_project
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_USER=root
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your.server.ip
ENABLE_MILVUS=true

